annotated_types
anyio
atproto
certifi
cffi
click
colorama
cryptography
dnspython
h11
httpcore
httpx
idna
libipld
pycparser
pydantic
pydantic_core==2.46.5
sqlcipher3
typing_extensions
typing_inspection
websockets
